:root {
  
   --white: #ffffff;
   --gray-25: #fafafa;
   --gray-50: #f9fafb;
   --gray-100: #f3f4f6;
   --gray-200: #e5e7eb;
   --gray-300: #d4d4d4;
   --gray-400: #9ca3af;
   --gray-500: #6b7280;
   --gray-600: #4b5563;
   --gray-700: #374151;
   --gray-800: #1f2937;
   --gray-900: #111827;

   --header-height: 80px;
   --footer-height: 80px;

   --container-padding-x: 2rem;

   --font-size-sm: 0.8rem;
   --font-size-md: 1rem;
   --font-size-lg: 1.2rem;

}

/****    DEBUGGING TOOLS ****/
* {
   outline: 1px solid limegreen;
   background: rgba(0, 255, 0, 0.1);
}


/*********     NORMALIZE    **************/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--gray-25);
}

body {
   height: 100dvh;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--gray-800);
   font-size: var(--font-size-sm);
   font-weight: 700;
}


h1, h2, h3, h4, h5, h6, p {
   color: var(--gray-700);
}

header, footer {
   background: var(--gray-100);
   width: 100%;
}


/* Inner content limiter */
.container {
   max-width: 2000px;             
   margin: 0 auto;                
   width: 100%;                   
   height: 100%;
   padding: 0 var(--container-padding-x);               
}


.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px 8px;
   background-color: var(--gray-300);
   border-radius: 6px;
   width: 7.25rem;
   height: 2.25rem;
   text-align: center;
}





/***************************************************************************/
/***********             CUSTOM CLASSES                 ********************/
/***************************************************************************/

/******************************   WRAPPER    **********************************/


.wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: var(--header-height) 1fr var(--footer-height);
}




/********************************   HEADER    **********************************/

header {
   height: var(--header-height);
}

header .container {
   display: grid;
   grid-template-columns: auto 1fr auto;
}

.container-back-to-lesson,
.container-title,
.container-user {
   display: flex;
   align-items: center;
   justify-content: center;
}


.container-title {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.container-progress-bar {
   width: 100%;
   display: flex;
   justify-content: center;
}

.progress-bar {
   background-color: rgb(64, 172, 64);
   height: 12px;
   max-width: 1000px;
   width: 80%;
   border-radius: 7px;
}


.avatar {
   width: 60px;
   height: auto;
   aspect-ratio: 1;
   object-fit: cover;
   border-radius: 100vw;
}

/******************************    MAIN    **********************************/

main {
   min-height: 0;      /* allow children to overflow/scroll */
   overflow: hidden;   /* panes manage scroll; main does not */
   background-color: var(--gray-25);
}


main .container {
   padding-top: 1rem;
   padding-bottom: 1rem;
   display: grid;
   grid-template-columns: minmax(auto, 25rem) 1fr;
   gap: 1rem;
   min-height: 0;  /* force children to scroll */
}


/** left and right sections **/
.section-question,
.section-response {
   min-height: 0;
   min-width: 0;
   overflow: auto;   /* independent scroll */
}

/* Future use: If there is no question section, add .hide-question 
   to the container */

main .container.hide-question {
   grid-template-columns: 1fr;
}


main .container.hide-question .section-question {
   display: none;
}



/**************  HOMEWORK QUESTION ***************/

.container-question {
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}




/* Image rules */
.container-question img {
   display: block;
   height: auto;
   width: 100%;
   min-width: 320px;
   object-fit: contain;
   margin: 0 auto;          
}

/**************    HOMEWORK  RESPONSE    ***************/

.section-response {
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
   min-width: 0;
   min-height: 0;
   overflow-y: auto;     /* independent vertical scroll */
   overflow-x: hidden;
}

.section-response > * {
   padding: .5rem;
   text-align: center;
   background-color: var(--gray-300);
}

.response {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow-y: auto;
}

/* simulate response content */
.response-content {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 400px;
   width: 100%;
}





/******************************    FOOTER    **********************************/
footer {
   height: var(--footer-height);
}
footer .container {
   display: grid;
   grid-template-columns: auto 1fr auto;
   position: relative;
}

.container-skip,
.container-feedback,
.container-check {
   display: flex;
   align-items: center;
   justify-content: center;
}





/***************************************************************************/
/***********       CLASSES CASCADED LAST          *************************/
/***************************************************************************/
.nodisplay {
   display: none !important;
}

/***************************************************************************/
/***********         RESPONSIVE MEDIA QUERIES     *************************/
/***************************************************************************/

@media only screen and (max-width: 992px) { 
}

@media (max-width: 767px) {   
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 375px) {
}
